<template>
    <v-row>
        <MDHeader text="Results" h="1" add-hash/>
        <v-tabs v-model="tab" >
            <v-tab 
                v-for="(tables, index) in groupedTables"
                :key="types[index]"  @click="throttleChange"
            >
                {{types[index].replaceAll('_', ' ')}}
            </v-tab>
        </v-tabs>
        <v-tabs-items v-model="tab">
            <v-tab-item 
                v-for="(tables, index) in groupedTables"
                :key="`${types[index]}-tab-item-${index}`"
            >
                <nuxt-content :document="groupedArticles[tab]"/>                
            </v-tab-item>   
            
        </v-tabs-items>
        <v-tabs v-model="tabTable">
            <v-tab 
                v-for="(table, jndex) in groupedTables[tab]"
                :key="`${types[tab]}-tab-${table.name}-${jndex}`"
            >
                {{table.name.replaceAll('_', ' ')}}
            </v-tab>
        </v-tabs>
        <v-tabs-items v-model="tabTable">
            <v-tab-item 
                v-for="(table, jndex) in groupedTables[tab]"
                :key="`${types[tab]}-table-${table.name}-${jndex}`"
            >   
                <v-card
                    elevation="12"
                    class="pa-5 ma-5"
                    shaped keep-alive                    
                >
                    <v-card-title>{{table.name}}</v-card-title>
                    <v-card-text>
                        <VRecordsTable        
                            :ref="`${group}-table-${table.name}-${jndex}`" 
                            :fieldOrder="table.headers.names"                        
                            :json="table.results"    
                            :fieldRenderFunctions="fieldRenderFunctions"        
                            :fieldSynonymMap="fieldSynonymMap"        
                        />
                    </v-card-text>
                </v-card>
            </v-tab-item> 
        </v-tabs-items>        
    </v-row>
</template>

<script>
import _ from 'lodash'
import {
  VData, VDataIterator, VDataFooter, VDataTable, VDataTableHeader,
  VTextField, VProgressLinear, VNavigationDrawer, VCheckbox, VTooltip,
  VCard, VCardText,
  VDivider, VCol, VRow,
  VList, VListItem, VListItemContent, VListItemTitle, VBtn, VBadge, VIcon
} from 'vuetify/lib'

import MDHeader from '~/components/global/MDHeader.vue'
import {VRecordsTable} from 'vfrxt'

const toFixed = (id, field, record, n=3) => record[field].toFixed(n)

const fieldRenderFunctions = {
    Code: (id, field, record) => {
        return `<a target="_blank" href="${record[field]}">${record.Version}</a>`
    },
    'Paper URL': (id, field, record) => {
        return `<a target="_blank" href="${record[field]}">paper</a>`
    },
    'Paper': (id, field, record) => {
        return `<a target="_blank" href="${record[field]}">${record.Paper}</a>`
    },
    'Runtime (min)': (id, field, record) => `${toFixed(id, field, record)} min`,
    'Micro F1 score': toFixed,
    'Memory (GB)': (id, field, record) => `${toFixed(id, field, record, 2)} GB`,
    'CPU (%)': (id, field, record) => `${toFixed(id, field, record, 2)}%`,
    'F1 score': toFixed,
    'Accuracy': toFixed,
    'Mean squared error': toFixed,
    'kNN Area Under the Curve': toFixed,
    'Median Pearson correlation': toFixed,
    'Median Spearman correlation': toFixed,
    'ARI': toFixed,
    'Poisson loss': toFixed,
    'Mean-squared error': toFixed,
    'root mean squared error': toFixed,
    'local property': toFixed,
    'trustworthiness': toFixed,
    'global property': toFixed,
    'co-KNN AUC': toFixed,
    'co-KNN size': toFixed,
    'density preservation': toFixed,
    'continuity': toFixed,
    'local continuity meta criterion': toFixed,
    'ARI': toFixed,

}
// set column names to something other than internal field name
export const fieldSynonymMap = {
  'Memory': 'Memory (GB)',
  'Runtime': 'Runtime (min)',
  'CPU': 'CPU (%)'
}


export default {
    components: {        
        VData, VDataIterator, VDataFooter, VDataTable, VDataTableHeader,
        VTextField, VProgressLinear, VNavigationDrawer, VCheckbox, VTooltip,
        VCard, VCardText,
        VDivider, VCol, VRow, VBtn, VBadge, VIcon,
        VList, VListItem, VListItemContent, VListItemTitle,
        MDHeader, VRecordsTable
    },
    data: () => ({
        tab: null,
        tabTable: null,
        fieldRenderFunctions, 
        fieldSynonymMap,
    }),
    async asyncData({ $content, params }) {
        const articles = await $content('results', {deep:true})
            .fetch()        
        return { articles }
    },
    methods: {
        throttleChange: _.debounce(function(event) {
            this.tabTable = 0
        }, 100),
        setSort(str) {
            this.$refs[str].sortSpecifications.push(
                {field:'Rank', isAscending:true}
            )
        },
        getResultType(str) {
            const parts = str.split('/')
            return parts[parts.length - 1]
        },                        
    },
    computed: {        
        types() {
            return this.articles
                .filter(({extension}) => extension === '.md')
                .map(({dir}) => {
                    return this.getResultType(dir)
                })                
        },        
         groupedTables() {
            let arr = []
            this.types.forEach(_type => {
                arr.push([])
            });
            this.articles.forEach(article => {
                if (article.extension === '.md') return
                let _type = this.getResultType(article.dir)
                arr[this.types.indexOf(_type)].push(article)
            })
            return arr            
        },
        groupedArticles() {
            let arr = []
            this.types.forEach(_type => {
                arr.push(null)
            });
            this.articles.forEach(article => {
                if (article.extension !== '.md') return
                let _type = this.getResultType(article.dir)
                arr[this.types.indexOf(_type)] = article
            })
            return arr            
        }
    }
}
</script>